* {
  margin: 0;
  padding: 0;
  color: #F5F7F8;
}

:root {
  --color_bg: #111111;
  --color_secondary: #495E57;
  --color_accent: #F4CE14;
  --color_primary: #F5F7F8;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-VariableFont_wght"),
    url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}

body {
  background-color: #222222;
  font-family: "Nunito";
}

.content-wrap {
  position: relative;
  min-height: calc(100vh - 90px);
  width: 100%;

  /* uses to be able to inherit height:100% in childs */
  /* height: 1px; */

}

form {
  color: #000;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin-left: 40%;
  background-color: #111111;
  margin-top: 20px;
  border-radius: 25px;
  padding-bottom: 15px;
}

.form h3{
  padding: 15px;
}

.form span.errors{
  color: rgb(133, 0, 0);
}

.form input{
  background-color: #222;
  color: #fff;
  height: 30px;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  margin-top: 10px;
  transition: .5s;
}

.form input:active,
.form input:focus {
  background-color: #333;
  outline: none;
}

.form input[type=text]{
  width: 50%;
}
.form input[type=password]{
  width: 50%;
}
.form input[type=checkbox]{
  width: 15px;
  height: 15px;
  margin-top: 0px;
  margin-left: 10px;
}
.form .file-upload input{
  display: none;
}

.form .checkbox{
  font-size: 14px;
}

.form label{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  font-size: 15px;
  height: 30px;
  color: #fff;
  
}

.form .file-upload {
  height: 22px;
  border: 1px solid #333;
  border-radius: 15px;
  background-color: #222;
  
}

.form input[type=submit], .form input[type=button]{
  border: 1px solid #333;
  width: 40%;
  border-radius: 10px!important;
  font-size: 15px;
}

.form input[type=submit]{
  margin-top: 20px;
}

.form input[type=submit]:hover, .form input[type=submit]:active{
  background-color: green;
}



.index-page {
  text-align: center;
  padding-top: 40px;
}

.index-page p {
  margin-top: 20px;
  width: 70%;
  margin-left: 15%;
}

.frm {
  margin: 5rem auto;
  width: fit-content;
  padding: 40px;
  text-align: center;
  color: #111;
}

.frm input {
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  transition: .5s;
}

.frm input:active,
.frm input:focus {
  border-bottom: 1px solid #F4CE14;
}

.frm .errors {
  color: red;
}

.frm button {
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}

.frm button:active,
.frm button:focus,
.frm button:hover {
  border: 1px solid #F4CE14;
}