*{
  margin: 0;
  padding: 0;
  color: #F5F7F8;
}

:root {
  --color_bg: #111111;
  --color_secondary: #495E57;
  --color_accent: #F4CE14;
  --color_primary: #F5F7F8;
}

body{
  background-color: #222222;
}

header{
  background-color: #111111;
  width: 100%;
  display: flex;
}

.side_header{
  display: flex;
  width: 50%;
  align-items: center;
}

.side_header img{
  width: 60px;
  height: 60px;
  align-items: flex-end;
  margin-left: 20px;
  border-radius: 30px;
}

.side_header h1{
  margin-left: 20px;
  justify-content: center;
  
}