*{
  margin: 0;
  padding: 0;
  color: #F5F7F8;
}

:root {
  --color_bg: #111111;
  --color_secondary: #495E57;
  --color_accent: #F4CE14;
  --color_primary: #F5F7F8;
}

body{
  background-color: #222222;
}



.content-wrap{
  position: relative;
  min-height: calc(100vh - 30px - 60px);
  padding-bottom: 30px;
}


.serviceStatuses{
  width: 100%;
  display: flex;
}
.side-header h1{
  margin-left: 20px;
}


.dot{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: relative;
}

.active{
  background-color: green;
}

.inactive{
  background-color: red;
}

.whoami{

}

form{
  color: #444;
}

.index-page{
  text-align: center;
  padding-top: 40px;
}
.index-page p{
  margin-top: 20px;
  width: 70%;
  margin-left: 15%;
}

.frm{
  margin: 5rem auto;
  width: fit-content;
  padding: 40px;
  text-align: center;
  color: #111;
}

.frm input{
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  transition: .5s;
}
.frm input:active, .frm input:focus{
  border-bottom: 1px solid #F4CE14;
}

.frm .errors{
  color: red;
}

.frm button{
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}
.frm button:active, .frm button:focus, .frm button:hover{
  border: 1px solid #F4CE14;
}

.services{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.service_item{
  padding: 10px 20px;
  text-align: center;
  border: 1px solid white;
}